/* style.css */

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* Header section */
    .header {
        background-color: #1f2937;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .header-left,
    .header-right {
        width: 450px;
    }

    h1 {
        font-weight: 900;
        font-size: 24px;
        color: #f9faf8;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        font-size: 18px;
        color: #e5e7eb;
    }


/* Hero section */
    .hero {
        background-color: #1f2937;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        gap: 40px;
    }

    .hero-left,
    .hero-right {
        width: 450px;
        height: 240px;
    }

    .hero-right {
        background: grey;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h2 {
        font-size: 48px;
        font-weight: 1000;
        color: #f9faf8;
        margin: auto;
    }

    p {
        font-size: 18px;
        color: #e5e7eb;
        margin-top: 0px;
    }

    .blue-border {
        background-color: #3882f6;
        padding: 8px 40px;
        border-radius: 8px;
        border: 1px solid #3882f6;
        color: #f9faf8;
        font-weight: 1000;
    }


/* Information section */
    .information {
        height: 450px;
    }

    .information-title {
        font-size: 36px;
        font-weight: 1000;
        color: #1f2937;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
    }

    .information-boxes {
        display: flex;
        justify-content: center;
        gap: 50px
    }

    .box {
        height: 150px;
        width: 150px;
        border: 3px solid #3882f6;
        border-radius: 8px;
    }

    .under-box {
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    .text {
        width: 150px;
        border: 3px solid #ffffff;
        text-align: center;
    }


/* Quote section */
    .quote {
        height: 400px;
        background-color: #e5e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        font-size: 36px;
        font-weight: 300;
        font-style: italic;
        color: #1f2937;
        width: 770px;
        text-align: start;
        margin-bottom: 0px;
    }

    h4 {
        text-align: end;
        margin-top: 0px;
    }


/* Call section */
    .action {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
    }

    .blue {
        background-color: #3882f6;
        padding: 10px 100px;
        border-radius: 8px;
        color: #f9faf8;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 800px;
        height: 125px;
        gap: 20px;
    }

    .blue-right {
        margin-left: auto;
    }

    h5 {
        margin: 20px 0px 0px 0px;
        font-size: 24px;
    }

    .white-border {
        background-color: #3882f6;
        padding: 8px 40px;
        border-radius: 8px;
        border: 1px solid #f9faf8;
        color: #f9faf8;
        font-weight: 1000;
        margin-right: auto;
    }

    /* Footer section */